doctype html
html(lang='en')
  head
    title WebApp
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width' initial-scale=1)
    link(rel='stylesheet' href='css/style.css')
    link(rel='icon' type='image/x-icon' ref='favicon.ico')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/uikit/3.5.4/js/uikit.min.js')
    script(scr='https://cdnjs.cloudflare.com/ajax/libs/uikit/3.5.4/js/uikit-icons.min.js')
    script(src='pkg/webapp_frontend.js')
  body
